@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900=swap');

:root {
  --background-color: #0a0a0a;
  --background-white: #f5f5f5;
  --text-color: #f5f5f5;
  --secondary-color: #c51d34;
  --border-color: var(--background-color);
  --font-main: 'IBM Plex Mono', monospace;
  --font-heading: 'Orbitron', sans-serif;
  --text-default-line-heigth: 22px;
  --text-default-size: 16px;
  --text-default-weight: 300;
  --text-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: var(--text-default-weight);
  line-height: var(--text-default-line-heigth);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
