@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,300,0..1,-50..200');

:root {
  --warning-color: #c51d34;
  --background-color: #181819;
  --background-color-transparent: #0a0a0abb;
  --background-color-semitransparent: #0a0a0a66;
  --background-white: #f5f5f5;
  --text-color: #f5f5f5;
  --text-color-darker: #f5f5f5;
  --secondary-color: #082a45;
  --secondary-color-darker: #082a4511;
  --secondary-color-brighter: #082a45cc;
  --border-color: var(--background-color);
  --font-main: 'IBM Plex Mono', monospace;
  --font-heading: 'DM Sans', sans-serif;
  --icons-font: 'Material Symbols Outlined', monospace;
  --icon-normal: 1em;
  --text-default-line-heigth: 1.4em;
  --text-line-heigth-20: 1.25em;
  --text-line-heigth-16: 1.25em;
  --text-line-heigth-14: 0.85em;
  --text-default-size: 1em;
  --h1-size: 1.75em;
  --h2-size: 1.25em;
  --h3-size: 0.95em;
  --logo-text-size: 2em;
  --heading-text-small: 0.9em;
  --text-small: 0.75em;
  --text-medium: 0.9em;
  --text-weight-200: 200;
  --text-default-weight: 300;
  --text-semibold: 400;
  --text-bold: 600;
  --tag-border-radius: 1.25em;
  --shadow-color: rgba(100, 100, 111, 0.2);
  --box-shadow: var(--shadow-color) 0px 7px 29px 0px;
  --menu-box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  --icon-default-width: 30px;
  --icon-default-height: 30px;
  --icon-rounded: 30px;
  --container-border-radius: 50px;
  --blur-effect: blur(40px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: var(--text-default-weight);
  line-height: var(--text-default-line-heigth);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
